<!-- src/app/app.component.html -->
<div class="app-container">
  <header class="app-header">

    <div class="logo">
      <h1>    <fa-icon [icon]="faUsersCog"></fa-icon> {{ title }}</h1>
    </div>
    <nav class="main-nav">
      <fa-icon [icon]="faUserMd"></fa-icon><a routerLink="/doctors" routerLinkActive="active">Doctores</a>
    </nav>
  </header>
  
  <main class="app-content">
    <router-outlet></router-outlet>
  </main>
  
  <footer class="app-footer">
    <p>&copy; {{ 2025}}  Sistema de Asignación de Pacientes Todos los derechos reservados ©Hillarys Camilo</p>
  </footer>
</div>