  /* Contenedores */
  .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: flex-start;
      justify-content: space-between;
      align-items: stretch;
  }

  .date-selector{
    display: flex;
  }