<div class="container">
  <h2>Lista de Doctores</h2>
  <label for="date">Seleccionar fecha:</label>
  <div class="date-selector">
    <input type="date" id="date" [(ngModel)]="selectedDate" (change)="onDateChange()" class="form-control">
    
    <div>
      <button type="button" class="btn btn-dark boton">
        <i class="bi bi-person-plus"></i>Asignar un paciente
      </button>
    </div>
  </div>
  <div *ngIf="loading" class="loading-spinner">
    <div class="spinner"></div>
    <p>Cargando doctores...</p>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <div *ngIf="!loading && doctors?.length === 0" class="no-data">
    No hay doctores disponibles.
  </div>

  <div *ngIf="!loading && doctors.length > 0" class="doctor-grid">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <div *ngFor="let doctor of doctors" class="card-body" [class.available]="doctor.isAvailable"
          [class.unavailable]="!doctor.isAvailable">
          <div class="doctor-header">
            <h3>{{ doctor.nombre }}</h3>
            <span class="status-badge" [class.available]="doctor.isAvailable" [class.unavailable]="!doctor.isAvailable">
              {{ doctor.isAvailable ? 'Disponible' : 'No disponible' }}
            </span>
          </div>

          <div class="doctor-info">
            <p><strong>ID:</strong> {{ doctor.doct_IdDoctor }}</p>
            <p><strong>Estatus:</strong> {{ doctor.doct_Estatus }}</p>
          </div>

          <div *ngIf="!doctor.isAvailable && doctor.nextAvailability" class="next-availability">
            <p><strong>Próxima disponibilidad:</strong></p>
            <p>{{ getDayName(doctor.nextAvailability.nextDate) }}, {{ formatDate(doctor.nextAvailability.nextDate) }}
            </p>
            <p>Horario: {{ doctor.nextAvailability.startTime }} - {{ doctor.nextAvailability.endTime }}</p>
          </div>

          <div class="doctor-actions">
            <button routerLink="['assign/:doctorId', doctor.doct_IdDoctor]" [disabled]="!doctor.isAvailable"
              class="btn btn-dark">
              Asignar Paciente Manualmente
            </button>
            <button [routerLink]="['/doctors', doctor.doct_IdDoctor]" class="btn btn-secondary">
              Ver Detalles
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>